# Targeting Azure Linux, but currently testing on Ubuntu, as ubuntu-slim doesn't
# support docker-in-docker.

name: Continuous Integration

on:
  pull_request:
  workflow_dispatch:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !contains(github.ref, 'main')}}

permissions: read-all

jobs:
  ci:
    name: "CI"
    runs-on: ubuntu-slim

    steps:
      - name: "Install Rust"
        shell: bash
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: "Run CI checks"
        shell: bash
        run: |
          cargo fmt -- --check
